<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error</title>
    <link rel="stylesheet" href="css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="css/global.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="css/error-message.css" th:href="@{/css/error-message.css}">
</head>
<body>
<div class="error-message">
    <h1>Internal Server Error</h1>
    <p>Sorry, something went wrong on our end. Please try refreshing the page or come back later.</p>
</div>
</body>
</html>
