<!-- @thymesVar id="errorResponseDto" type="com.danyatheworst.common.ErrorResponseDto" -->
<!-- @thymesVar id="matchScoreViewDto" type="com.danyatheworst.match.dto.MatchScoreViewDto" -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Score</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/match-score.css}">
</head>
<body>

<div class="container">
    <div class="wrapper">
        <div class="scoreboard card">
            <table>
                <tr>
                    <th>Previous sets</th>
                    <th>Player name</th>
                    <th>Game</th>
                    <th>Points</th>
                    <th></th>
                </tr>
                <tr th:each="player : ${matchScoreViewDto.players}">
                    <td class="previous-sets">
                        <div th:each="set : ${player.previousSets}"
                             class="score-box border-primary"
                        >
                            <span th:text="${set}"
                            ></span>
                        </div>
                    </td>
                    <td>
                        <span th:text="${player.name}"
                              class="player-name"
                        ></span>
                    </td>
                    <td>
                        <span th:text="${player.currentGame}"
                             class="score-box border-primary"
                        ></span>
                    </td>
                    <td>
                        <div th:text="${player.currentPoint}"
                             class="score-box border-primary"
                        ></div>
                    </td>
                    <td>
                        <form action="match-score" method="post">
                            <input th:value="${uuid}"
                                   type="hidden"
                                   name="uuid"
                            >
                            <input th:value="${player.id}"
                                   type="hidden"
                                   name="playerId"
                            >
                            <button th:disabled="${matchScoreViewDto.winnerId != null}"
                                    class="button-primary point-button"
                                    type="submit"
                            >+
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
            <div th:if="${matchScoreViewDto.winnerId != null}"
                 class="finished-match"
            >
                <p>
                    <span th:text="${matchScoreViewDto.players.get(matchScoreViewDto.winnerId).name}"></span>
                    is winner
                </p>
                <div>
                    <a th:href="@{/}"
                       class="button-secondary"
                    >
                        Go home
                    </a>
                    <a th:href="@{matches}"
                       class="button-primary"
                    >
                        Finished matches
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
