<!-- @thymesVar id="matchesViewDto" type="com.danyatheworst.match.dto.MatchesViewDto" -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Matches</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/error-message.css}">
    <link rel="stylesheet" th:href="@{/css/matches.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div th:with="matches=${matchesViewDto.matches}"
             class="matches card"
        >
            <div class="top-container">
                <div class="search">
                    <form action="matches" method="get">
                        <label for="playerName">Enter player name:</label>
                        <input class="input"
                               id="playerName"
                               type="text"
                               name="filter_by_player_name"
                               placeholder="Roger Federer"
                               required
                        >
                        <button class="button-primary"
                                type="submit"
                        >
                            Search
                        </button>
                        <a th:href="@{matches}"
                           th:if="${param.filter_by_player_name != null}"
                           class="button-secondary"
                        >
                            clear filter
                        </a>
                    </form>
                </div>
                <a th:href="@{/}"
                   class="button-secondary button-home"
                >
                    Home
                </a>
            </div>

            <table th:if="${matches.size() > 0}"
                   class="border-primary"
            >
                <thead>
                <tr>
                    <th>Player 1</th>
                    <th>Player 2</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="match : ${matchesViewDto.matches}">
                    <td>
                        <div class="player">
                                <span th:text="${match.player1.name}"
                                      class="player-name"
                                >
                                </span>
                            <span th:if="${match.player1.ID == match.winner.ID}"
                                  class="winner"
                            >
                                  🏆
                                </span>
                        </div>
                    </td>
                    <td>
                        <div class="player">
                                <span th:text="${match.player2.name}"
                                      class="player-name"
                                >
                                </span>
                            <span th:if="${match.player2.ID == match.winner.ID}"
                                  class="winner"
                            >
                                  🏆
                                </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <th:block th:if="${matchesViewDto.PaginationDto != null}"
                      th:include="~{fragments/pagination :: pagination (${matchesViewDto.paginationDto})}"
            ></th:block>
            <div th:if="${matchesViewDto.totalCount == 0 && param.filter_by_player_name == null}"
                 class="no-matches"
            >
                No matches have been played yet...
            </div>
            <div th:if="${matchesViewDto.totalCount == 0 && param.filter_by_player_name != null}"
                 class="no-matches"
            >
                No matches found...
            </div>

        </div>
    </div>
</div>
</body>
</body>
</html>