<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="css/error.css" th:href="@{/css/error.css}">
    <title>Server error</title>

</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="error">
            <span>500</span>
            <p>Bad things have happened :(</p>
            <div class="button-wrapper">
                <a th:href="@{/}"
                   class="button-secondary"
                   href="/tennis_scoreboard_war_exploded">
                    Go home
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
