.error-message {
    border: 0.0625rem solid #dc3545;
    background-color: #f8d7da;
    color: #721c24;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    width: 80%;
    margin: 1.25rem auto;
    text-align: center;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.error-message h1 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

.error-message p {
    margin-bottom: 0.625rem;
}