.scoreboard table {
    border-spacing: 5px;
}

.scoreboard th, .scoreboard td {
    padding: 5px;
    text-align: center;
}

.previous-sets {
    display: flex;
}

.previous-sets div:not(:last-child) {
    margin-right: 0.5rem;
}

.score-box {
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 0.3125rem;
    font-size: 1.0625rem;
    font-weight: 600;
    color: var(--color-black);
}

.score-box {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.player-name {
    max-width: 13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.point-button {
    width: 3.125rem;
    min-width: 3.125rem;
    height: 3.125rem;
}

.finished-match {
    margin-top: 1.25rem;
}

.finished-match p {
    text-align: center;
    margin-bottom: 1.25rem;
}

.finished-match span {
    font-weight: 600;
}

.finished-match div {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .score-box {
        width: 2.3rem;
        height: 2.3rem;
    }

    .point-button {
        width: 2.3rem;
        min-width: 2.3rem;
        height: 2.3rem;
    }
}