.new-match {
    max-width: 462px;
}

.new-match h2 {
    margin-bottom: 1.4rem;
}

.new-match button {
    margin-left: auto;
}

.player-row {
    margin-bottom: 1.35rem;
    font-size: 17px;
    font-weight: 500;
}

.player-row label {
    margin-right: 0.4rem;
}

.radio-group {
    margin-bottom: 1rem;
}

.radio-group span {
    display: flex;
    justify-content: center;
    margin-bottom: 0.6rem;
}

.radio-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-buttons > *:not(:last-child) {
    margin-right: 1rem;
}

@media (max-width: 700px) {
    .player-row {
        font-size: 15px;
    }
}
