<div th:fragment="pagination (totalCount, currentPage, pageSize)">
    <div th:with="
                  lastPage=${(totalCount + pageSize - 1) / pageSize},
                  leftMost=${currentPage - 2 < 1 ? 1 : currentPage - 2},
                  leftDots=${leftMost - 1 > 1},
                  rightMost=${currentPage + 2 > lastPage ? lastPage : currentPage + 2},
                  rightDots=${lastPage - rightMost > 1}"
         class="wrapper"
    >
        <ul class="pagination">
            <li th:if="${currentPage > 1 && param.filter_by_player_name != null}">
                <a th:href="@{matches(page=${currentPage - 1}, filter_by_player_name=${param.filter_by_player_name})}"
                   class="button-secondary button-pagination"
                >
                    <div th:include="~{fragments/arrows/left-arrow}"></div>
                </a>
            </li>
            <li th:if="${currentPage > 1 && param.filter_by_player_name == null}">
                <a th:href="@{matches(page=${currentPage - 1})}"
                   class="button-secondary button-pagination"
                >
                    <div th:include="~{fragments/arrows/left-arrow}"></div>
                </a>
            </li>
            <li th:if="${leftMost != 1 && param.filter_by_player_name != null}">
                <a th:href="@{/matches(page=1, filter_by_player_name=${param.filter_by_player_name})}"
                   th:text="1"
                   class="button-secondary button-pagination"
                ></a>
            </li>
            <li th:if="${leftMost != 1 && param.filter_by_player_name == null}">
                <a th:href="@{?page=__${1}__}"
                   th:text="1"
                   class="button-secondary button-pagination"
                ></a>
            </li>
            <li th:if="${leftDots}">
                <div class="dots">...</div>
            </li>
            <li th:each="i : ${#numbers.sequence(leftMost, currentPage - 1)}"
                th:if="${leftMost <= currentPage - 1 && param.filter_by_player_name != null}"
            >
                <a th:href="@{matches(page=${i}, filter_by_player_name=${param.filter_by_player_name})}"
                   th:text="${i}"
                   class="button-secondary button-pagination"
                ></a>
            </li>
            <li th:each="i : ${#numbers.sequence(leftMost, currentPage - 1)}"
                th:if="${leftMost <= currentPage - 1 && param.filter_by_player_name == null}"
            >
                <a th:href="@{?page=__${i}__}"
                   th:text="${i}"
                   class="button-secondary button-pagination"
                ></a>
            </li>
            <li>
                <a th:text="${currentPage}"
                   class="button-primary button-pagination"
                ></a>
            </li>
            <li th:each="i : ${#numbers.sequence(currentPage + 1, rightMost)}"
                th:if="${currentPage + 1 <= rightMost && param.filter_by_player_name != null}"
            >
                <a th:href="@{/matches(page=${i}, filter_by_player_name=${param.filter_by_player_name})}"
                   th:text="${i}"
                   class="button-secondary button-pagination"
                ></a>
            </li>
            <li th:each="i : ${#numbers.sequence(currentPage + 1, rightMost)}"
                th:if="${currentPage + 1 <= rightMost && param.filter_by_player_name == null}"
            >
                <a th:href="@{?page=__${i}__}"
                   th:text="${i}"
                   class="button-secondary button-pagination"
                ></a>
            </li>
            <li th:if="${rightDots}">
                <div class="dots">...</div>
            </li>
            <li th:if="${rightMost != lastPage && param.filter_by_player_name != null}">
                <a th:text="${lastPage}"
                   th:href="@{matches(page=${lastPage}, filter_by_player_name=${param.filter_by_player_name})}"
                   class="button-secondary button-pagination"
                ></a>
            </li>
            <li th:if="${rightMost != lastPage && param.filter_by_player_name == null}">
                <a th:text="${lastPage}"
                   th:href="@{matches(page=${lastPage})}"
                   class="button-secondary button-pagination"
                ></a>
            </li>
            <li th:if="${currentPage != lastPage && param.filter_by_player_name != null}">
                <a th:href="@{matches(page=${currentPage + 1}, filter_by_player_name=${param.filter_by_player_name})}"
                   class="button-secondary button-pagination"
                >
                    <div th:include="~{fragments/arrows/right-arrow}"></div>
                </a>
            </li>
            <li th:if="${currentPage != lastPage && param.filter_by_player_name == null}">
                <a th:href="@{matches(page=${currentPage + 1})}"
                   class="button-secondary button-pagination"
                >
                    <div th:include="~{fragments/arrows/right-arrow}"></div>
                </a>
            </li>
        </ul>
    </div>
</div>
